/* Layout */
.wrapper {
  height: 100% !important;
  width: 100% !important;
  /* overflow: hidden!important; */
}

.gm-style-iw {
  color: #000;
}

#log {
  margin-top: 30px;
}

#loading {
  display: none;
  margin: auto;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: 1%;
}